@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

.light {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-border: var(--color-neutral-700);
  --color-shadow: var(--color-neutral-800);
}

.dark {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);

  --color-border: var(--color-neutral-700);
  --color-shadow: var(--color-neutral-800);
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-primary: var(--color-sky-400);
  --color-on-primary: var(--color-sky-50);
  --color-primary-container: var(--color-sky-200);
  --color-on-primary-container: var(--color-sky-600);
  --color-primary-border: var(--color-sky-700);
  --color-primary-shadow: var(--color-sky-800);

  --color-secondary: var(--color-slate-400);
  --color-on-secondary: var(--color-slate-50);
  --color-secondary-container: var(--color-slate-200);
  --color-on-secondary-container: var(--color-slate-600);
  --color-secondary-border: var(--color-slate-700);
  --color-secondary-shadow: var(--color-slate-800);

  --color-tertiary: var(--color-amber-400);
  --color-on-tertiary: var(--color-amber-50);
  --color-tertiary-container: var(--color-amber-200);
  --color-on-tertiary-container: var(--color-amber-600);
  --color-tertiary-border: var(--color-amber-700);
  --color-tertiary-shadow: var(--color-amber-800);

  --color-border: var(--color-border);
  --color-shadow: var(--color-shadow);
}

@layer base {
  * {
    @apply border-border shadow-shadow;
  }
}
