@theme {
  --color-primary-50: hsl(195, 40%, 98%); /* Foreground / Background */
  --color-primary-100: hsl(198, 50%, 96.1%);
  --color-primary-200: hsl(192.6, 46.3%, 92%);
  --color-primary-300: hsl(194.5, 47.5%, 88%);
  --color-primary-400: hsl(194.2, 46.3%, 83.9%);
  --color-primary-500: hsl(194.4, 46.4%, 70%);
  --color-primary-600: hsl(194.4, 46.4%, 56.1%);
  --color-primary-700: hsl(194.4, 46.7%, 42%);
  --color-primary-800: hsl(193.6, 46.5%, 27.8%);
  --color-primary-900: hsl(194.5, 46.5%, 13.9%); /* Border */
  --color-primary-950: hsl(195, 44.4%, 7.1%); /* Foreground / Background */

  --color-secondary-50: hsl(0, 0%, 98%); /* Foreground / Background */
  --color-secondary-100: hsl(0, 0%, 95%);
  --color-secondary-200: hsl(0, 0%, 91%);
  --color-secondary-300: hsl(0, 0%, 86%);
  --color-secondary-400: hsl(0, 0%, 79%);
  --color-secondary-500: hsl(0, 0%, 65%);
  --color-secondary-600: hsl(0, 0%, 50%);
  --color-secondary-700: hsl(0, 0%, 35%);
  --color-secondary-800: hsl(0, 0%, 20%);
  --color-secondary-900: hsl(0, 0%, 10%); /* Border */
  --color-secondary-950: hsl(0, 0%, 5%); /* Foreground / Background */
}
