@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

.light {
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-800);
  --color-foreground-sub: var(--color-neutral-200);

  --color-primary-foreground: var(--color-sky-50);
  --color-primary-background: var(--color-sky-400);
  --color-primary-border: var(--color-sky-700);
  --color-primary-shadow: var(--color-sky-800);

  --color-secondary-foreground: var(--color-neutral-50);
  --color-secondary-background: var(--color-neutral-400);
  --color-secondary-border: var(--color-neutral-600);
  --color-secondary-shadow: var(--color-neutral-700);

  --color-tertiary-foreground: var(--color-neutral-400);
  --color-tertiary-background: var(--color-neutral-50);
  --color-tertiary-border: var(--color-neutral-600);
  --color-tertiary-shadow: var(--color-neutral-700);

  --color-accent-foreground: var(--color-sky-600);
  --color-accent-background: var(--color-sky-200);
  --color-accent-border: var(--color-sky-700);
  --color-accent-shadow: var(--color-sky-800);
}

.dark {
  --color-background: var(--color-neutral-800);
  --color-foreground: var(--color-neutral-50);
  --color-foreground-sub: var(--color-neutral-300);

  --color-primary-foreground: var(--color-sky-50);
  --color-primary-background: var(--color-sky-400);
  --color-primary-border: var(--color-sky-600);
  --color-primary-shadow: var(--color-sky-700);

  --color-secondary-foreground: var(--color-neutral-50);
  --color-secondary-background: var(--color-neutral-400);
  --color-secondary-border: var(--color-neutral-500);
  --color-secondary-shadow: var(--color-neutral-600);

  --color-tertiary-foreground: var(--color-neutral-400);
  --color-tertiary-background: var(--color-neutral-50);
  --color-tertiary-border: var(--color-neutral-500);
  --color-tertiary-shadow: var(--color-neutral-600);

  --color-accent-foreground: var(--color-sky-600);
  --color-accent-background: var(--color-sky-200);
  --color-accent-border: var(--color-sky-600);
  --color-accent-shadow: var(--color-sky-700);
}

@theme {
  --color-rosewater-50: hsl(10 60% 94.1%);
  --color-rosewater-100: hsl(10.9 57.9% 88.8%);
  --color-rosewater-200: hsl(10.9 58.9% 78%);
  --color-rosewater-300: hsl(10.8 58.8% 66.7%);
  --color-rosewater-400: hsl(10.7 58.9% 57.1%);
  --color-rosewater-500: hsl(10.8 59% 47.8%);
  --color-rosewater-600: hsl(10.5 58.8% 38%);
  --color-rosewater-700: hsl(11 59.2% 28.8%);
  --color-rosewater-800: hsl(10.5 58.8% 19%);
  --color-rosewater-900: hsl(11.6 60.8% 10%);
  --color-rosewater-950: hsl(12 60% 4.9%);

  --color-flamingo-50: hsl(0 60% 94.1%);
  --color-flamingo-100: hsl(0 60.7% 89%);
  --color-flamingo-200: hsl(0 59.3% 77.8%);
  --color-flamingo-300: hsl(0 59.8% 66.9%);
  --color-flamingo-400: hsl(0 59.8% 57.1%);
  --color-flamingo-500: hsl(0 60% 48%);
  --color-flamingo-600: hsl(0 59.8% 38%);
  --color-flamingo-700: hsl(0 59.5% 29%);
  --color-flamingo-800: hsl(0 60.4% 18.8%);
  --color-flamingo-900: hsl(0 60.8% 10%);
  --color-flamingo-950: hsl(0 60% 4.9%);

  --color-pink-50: hsl(315.8 76% 95.1%);
  --color-pink-100: hsl(316.2 72.5% 90%);
  --color-pink-200: hsl(315.9 73.8% 79%);
  --color-pink-300: hsl(316 73.4% 69%);
  --color-pink-400: hsl(316.1 73.2% 59%);
  --color-pink-500: hsl(316 73.6% 49%);
  --color-pink-600: hsl(316 73.7% 38.8%);
  --color-pink-700: hsl(315.9 73.9% 30%);
  --color-pink-800: hsl(316.2 72.5% 20%);
  --color-pink-900: hsl(316.2 72.5% 10%);
  --color-pink-950: hsl(315.8 76% 4.9%);

  --color-mauve-50: hsl(266 83.3% 92.9%);
  --color-mauve-100: hsl(265.6 85.9% 86.1%);
  --color-mauve-200: hsl(266.3 84.6% 72%);
  --color-mauve-300: hsl(266 85% 58%);
  --color-mauve-400: hsl(266 85.1% 50%);
  --color-mauve-500: hsl(266.1 84.7% 41%);
  --color-mauve-600: hsl(266 84.6% 33.1%);
  --color-mauve-700: hsl(266.1 84.4% 25.1%);
  --color-mauve-800: hsl(265.9 86% 16.9%);
  --color-mauve-900: hsl(265.7 85.4% 8%);
  --color-mauve-950: hsl(264.7 81% 4.1%);

  --color-red-50: hsl(346.5 87% 91%);
  --color-red-100: hsl(347.1 87.5% 81.2%);
  --color-red-200: hsl(347.1 86.2% 62.9%);
  --color-red-300: hsl(347.1 86.7% 44.1%);
  --color-red-400: hsl(347.1 86.6% 38%);
  --color-red-500: hsl(347.2 86.5% 32%);
  --color-red-600: hsl(347 87.4% 24.9%);
  --color-red-700: hsl(346.4 87.5% 18.8%);
  --color-red-800: hsl(346.6 87.9% 12.9%);
  --color-red-900: hsl(346.7 87.1% 6.1%);
  --color-red-950: hsl(346.2 86.7% 2.9%);

  --color-maroon-50: hsl(355.6 77.1% 93.1%);
  --color-maroon-100: hsl(354.5 77.5% 86.1%);
  --color-maroon-200: hsl(354.5 76.2% 72%);
  --color-maroon-300: hsl(354.8 76.3% 58.6%);
  --color-maroon-400: hsl(354.8 76.5% 50%);
  --color-maroon-500: hsl(354.5 76.6% 42%);
  --color-maroon-600: hsl(355 75.9% 34.1%);
  --color-maroon-700: hsl(354.4 76.4% 24.9%);
  --color-maroon-800: hsl(354.5 76.7% 16.9%);
  --color-maroon-900: hsl(354.2 75.6% 8%);
  --color-maroon-950: hsl(352.5 80% 3.9%);

  --color-peach-50: hsl(22 100% 92%);
  --color-peach-100: hsl(21.5 100% 84.1%);
  --color-peach-200: hsl(22.2 98.8% 67.8%);
  --color-peach-300: hsl(22 99.2% 52%);
  --color-peach-400: hsl(21.8 99.1% 45.1%);
  --color-peach-500: hsl(21.8 98.9% 37.1%);
  --color-peach-600: hsl(21.9 98.7% 30%);
  --color-peach-700: hsl(22 100% 22%);
  --color-peach-800: hsl(22.1 100% 14.9%);
  --color-peach-900: hsl(21.7 100% 7.1%);
  --color-peach-950: hsl(21 100% 3.9%);

  --color-yellow-50: hsl(34.8 75.6% 92%);
  --color-yellow-100: hsl(34.9 77% 82.9%);
  --color-yellow-200: hsl(34.7 76.9% 66.1%);
  --color-yellow-300: hsl(34.9 77% 49.4%);
  --color-yellow-400: hsl(34.9 76.7% 42.2%);
  --color-yellow-500: hsl(35 76.5% 35.1%);
  --color-yellow-600: hsl(34.9 77.5% 27.8%);
  --color-yellow-700: hsl(34.7 77.6% 21%);
  --color-yellow-800: hsl(34.9 77.5% 13.9%);
  --color-yellow-900: hsl(34.3 77.8% 7.1%);
  --color-yellow-950: hsl(33.8 80% 3.9%);

  --color-green-50: hsl(109.7 56.9% 90%);
  --color-green-100: hsl(109.7 56.9% 80%);
  --color-green-200: hsl(109.3 57.8% 60%);
  --color-green-300: hsl(109.2 57.6% 39.8%);
  --color-green-400: hsl(109.2 57.5% 34.1%);
  --color-green-500: hsl(109.2 58% 28%);
  --color-green-600: hsl(109.3 57.3% 22.9%);
  --color-green-700: hsl(109.2 58.1% 16.9%);
  --color-green-800: hsl(108.8 57.1% 11%);
  --color-green-900: hsl(106.7 60% 5.9%);
  --color-green-950: hsl(106.7 60% 2.9%);

  --color-teal-50: hsl(184.3 75% 89%);
  --color-teal-100: hsl(182.9 73.5% 77.8%);
  --color-teal-200: hsl(183.3 74.1% 56.1%);
  --color-teal-300: hsl(183.2 73.9% 34.5%);
  --color-teal-400: hsl(183.2 73.9% 30%);
  --color-teal-500: hsl(183.2 73.4% 25.1%);
  --color-teal-600: hsl(183.2 74.5% 20%);
  --color-teal-700: hsl(184.2 74% 15.1%);
  --color-teal-800: hsl(183.2 72.5% 10%);
  --color-teal-900: hsl(183.2 76% 4.9%);
  --color-teal-950: hsl(187.5 80% 2%);

  --color-sky-50: hsl(196.4 95.7% 91%);
  --color-sky-100: hsl(197 95.7% 82%);
  --color-sky-200: hsl(197.3 96.7% 64.1%);
  --color-sky-300: hsl(197.1 96.6% 45.7%);
  --color-sky-400: hsl(196.9 97% 38.8%);
  --color-sky-500: hsl(197 96.4% 32.9%);
  --color-sky-600: hsl(196.9 97% 25.9%);
  --color-sky-700: hsl(197.1 96.1% 20%);
  --color-sky-800: hsl(196.9 97% 12.9%);
  --color-sky-900: hsl(197.6 94.4% 7.1%);
  --color-sky-950: hsl(196 100% 2.9%);

  --color-sapphire-50: hsl(188.6 68.6% 90%);
  --color-sapphire-100: hsl(189 69.1% 81%);
  --color-sapphire-200: hsl(188.6 69.8% 61%);
  --color-sapphire-300: hsl(188.9 70% 41.8%);
  --color-sapphire-400: hsl(188.9 69.6% 36.1%);
  --color-sapphire-500: hsl(189 69.9% 30%);
  --color-sapphire-600: hsl(189.1 70.5% 23.9%);
  --color-sapphire-700: hsl(188.4 69.6% 18%);
  --color-sapphire-800: hsl(188.4 70.5% 12%);
  --color-sapphire-900: hsl(188.6 67.7% 6.1%);
  --color-sapphire-950: hsl(190.9 73.3% 2.9%);

  --color-blue-50: hsl(220.5 90.2% 92%);
  --color-blue-100: hsl(220.3 92.1% 85.1%);
  --color-blue-200: hsl(220 91.1% 69%);
  --color-blue-300: hsl(219.9 91.5% 53.9%);
  --color-blue-400: hsl(219.9 91.5% 46.1%);
  --color-blue-500: hsl(219.9 91.9% 38.8%);
  --color-blue-600: hsl(220 91.1% 31%);
  --color-blue-700: hsl(219.8 91.5% 22.9%);
  --color-blue-800: hsl(219.4 92.1% 14.9%);
  --color-blue-900: hsl(220.5 90.2% 8%);
  --color-blue-950: hsl(221.1 90.5% 4.1%);

  --color-lavender-50: hsl(230.4 100% 95.1%);
  --color-lavender-100: hsl(231.8 95.7% 91%);
  --color-lavender-200: hsl(230.5 97.9% 81%);
  --color-lavender-300: hsl(230.9 97.2% 72%);
  --color-lavender-400: hsl(231.1 96.9% 62%);
  --color-lavender-500: hsl(231.1 97.6% 51.2%);
  --color-lavender-600: hsl(230.8 97.1% 41%);
  --color-lavender-700: hsl(231 97.5% 31%);
  --color-lavender-800: hsl(230.9 98.1% 21%);
  --color-lavender-900: hsl(231.4 96.1% 10%);
  --color-lavender-950: hsl(230.4 100% 4.9%);

  --color-neutral-50: hsl(233.3 15.8% 88.8%);
  --color-neutral-100: hsl(233.3 16.1% 78%);
  --color-neutral-200: hsl(234.9 16% 57.1%);
  --color-neutral-300: hsl(233.8 16% 35.5%);
  --color-neutral-400: hsl(232.8 16.3% 30%);
  --color-neutral-500: hsl(234 15.6% 25.1%);
  --color-neutral-600: hsl(232.5 15.7% 20%);
  --color-neutral-700: hsl(235 15.8% 14.9%);
  --color-neutral-800: hsl(233.3 17.6% 10%);
  --color-neutral-900: hsl(240 15.4% 5.1%);
  --color-neutral-950: hsl(220 20% 2.9%);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-foreground-sub: var(--color-foreground-sub);

  --color-primary-foreground: var(--color-primary-foreground);
  --color-primary-background: var(--color-primary-background);
  --color-primary-border: var(--color-primary-border);
  --color-primary-shadow: var(--color-primary-shadow);

  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-secondary-background: var(--color-secondary-background);
  --color-secondary-border: var(--color-secondary-border);
  --color-secondary-shadow: var(--color-secondary-shadow);

  --color-tertiary-foreground: var(--color-tertiary-foreground);
  --color-tertiary-background: var(--color-tertiary-background);
  --color-tertiary-border: var(--color-tertiary-border);
  --color-tertiary-shadow: var(--color-tertiary-shadow);

  --color-accent-foreground: var(--color-accent-foreground);
  --color-accent-background: var(--color-accent-background);
  --color-accent-border: var(--color-accent-border);
  --color-accent-shadow: var(--color-accent-shadow);

  --color-neutral-foreground: var(--color-neutral-foreground);
  --color-neutral-background: var(--color-neutral-background);
  --color-neutral-border: var(--color-neutral-border);
  --color-neutral-shadow: var(--color-neutral-shadow);
}
