@theme {
  /* Font family */
  --font-sans: var(--font-roboto-sans), var(--font-noto-sans), sans-serif;
  --font-serif: var(--font-roboto-serif), var(--font-noto-serif), serif;
  --font-mono: var(--font-roboto-mono), var(--font-noto-sans-mono), monospace;
}
