@theme {
  /* Heading Sizes */
  --text-h1-lg: 5.61rem;
  --text-h1-md: 3.815rem;
  --text-h1-sm: 2.986rem;

  --text-h2-lg: 4.209rem;
  --text-h2-md: 3.052rem;
  --text-h2-sm: 2.488rem;

  --text-h3-lg: 3.157rem;
  --text-h3-md: 2.441rem;
  --text-h3-sm: 2.074rem;

  --text-h4-lg: 2.369rem;
  --text-h4-md: 1.953rem;
  --text-h4-sm: 1.728rem;

  --text-h5-lg: 1.777rem;
  --text-h5-md: 1.563rem;
  --text-h5-sm: 1.44rem;

  --text-h6-lg: 1.333rem;
  --text-h6-md: 1.25rem;
  --text-h6-sm: 1.2rem;

  /* Body Text */
  --text-p: 1rem;

  --text-button-lg: 1.125rem;
  --text-button-md: 1rem;
  --text-button-sm: 0.875rem;

  /* Semantic & Utility */
  --text-small-lg: 0.833rem;
  --text-small-md: 0.8rem;
  --text-small-sm: 0.75rem;

  --text-a: inherit;
  --text-strong: inherit;
  --text-em: inherit;
  --text-blockquote: var(--text-h6);
  --text-pre: var(--text-small);
  --text-code: var(--text-small);
  --text-kbd: var(--text-small);
  --text-figcaption: var(--text-small);
}

@utility text-h1 {
  @apply text-h1-sm md:text-h1-md xl:text-h1-lg;
}

@utility text-h2 {
  @apply text-h2-sm md:text-h2-md xl:text-h2-lg;
}

@utility text-h3 {
  @apply text-h3-sm md:text-h3-md xl:text-h3-lg;
}

@utility text-h4 {
  @apply text-h4-sm md:text-h4-md xl:text-h4-lg;
}

@utility text-h5 {
  @apply text-h5-sm md:text-h5-md xl:text-h5-lg;
}

@utility text-h6 {
  @apply text-h6-sm md:text-h6-md xl:text-h6-lg;
}

@utility text-p {
  @apply text-p;
}

@utility text-small {
  @apply text-small-sm md:text-small-md xl:text-small-lg;
}

@utility text-a {
  @apply text-a;
}

@utility text-strong {
  @apply text-strong;
}

@utility text-em {
  @apply text-em;
}

@utility text-blockquote {
  @apply text-blockquote;
}

@utility text-pre {
  @apply text-pre;
}

@utility text-code {
  @apply text-code;
}

@utility text-kbd {
  @apply text-kbd;
}

@utility text-figcaption {
  @apply text-figcaption;
}
