@theme {
  /* MIN VALUE CALCULATE 
    Based on paragraph font size of 16px (1rem) on desktop and 14px (0.875rem) on mobile
    Using Minor Thirds Scale (1.2)
  */

  /* MAX VALUE CALCULATE 
    Based on paragraph font size of 16px (1rem) on desktop and 14px (0.875rem) on mobile
    Using Perfect Fourth Scale (1.333)
  */

  /* FORMULA TO CALCULATE FLUID TYPOGRAPHY VALUES (PREFERRED VALUE)

    clamp(<min_value>, <preferred_value>, <max_value>)
    ---------------------------------------------------------------
    Let A be the minimum font size in rem
    Let B be the slope coefficient in rem
    Let C be the viewport width coefficient in vw
    Let D be the maximum font size in rem
    ---------------------------------------------------------------
    The formula is:
    clamp(A rem, (B rem) + (C vw), D rem)
    ---------------------------------------------------------------
    To calculate B and C, solve the following system of equations:
    16 * B + C * <mobile-width> / 100 = 16 * A
    16 * B + C * <desktop-width> / 100 = 16 * D
    ---------------------------------------------------------------
    Where <mobile-width> is the width of the smallest viewport (in px)
    and <desktop-width> is the width of the largest viewport (in px)
    ---------------------------------------------------------------
    Example:
    For h1 with min size 2.613rem at 425px and max size 5.61rem at 1024px:
    16 * B + C * 425 / 100 = 16 * 2.613
    16 * B + C * 1024 / 100 = 16 * 5.61
    Solving the system gives:
    B = 0.487
    C = 8.005
    So the final formula is:
    clamp(2.613rem, 0.487rem + 8.005vw, 5.61rem)
    ---------------------------------------------------------------
  */

  /* NOTE
    All value should be grounded 3 digits
  */

  /* Heading Sizes */
  --text-h1: clamp(2.613rem, 0.487rem + 8.005vw, 5.61rem);

  --text-h2: clamp(2.177rem, 0.735rem + 5.428vw, 4.209rem);

  --text-h3: clamp(1.814rem, 0.861rem + 3.587vw, 3.157rem);

  --text-h4: clamp(1.512rem, 0.904rem + 2.289vw, 2.369rem);

  --text-h5: clamp(1.26rem, 0.893rem + 1.381vw, 1.777rem);

  --text-h6: clamp(1.05rem, 0.849rem + 0.756vw, 1.333rem);

  /* Body Text */
  --text-p: clamp(0.875rem, 0.786rem + 0.334vw, 1rem);

  /* Semantic & Utility */
  --text-small: clamp(0.729rem, 0.714rem + 0.056vw, 0.75rem);
  --text-a: inherit;
  --text-strong: inherit;
  --text-em: inherit;
  --text-blockquote: var(--text-h6);
  --text-pre: var(--text-small);
  --text-code: var(--text-small);
  --text-kbd: var(--text-small);
  --text-figcaption: var(--text-small);
  --text-ul: inherit;
  --text-th: inherit;
}

@layer base {
  h1 {
    font-size: var(--text-h1);
  }

  h2 {
    font-size: var(--text-h2);
  }

  h3 {
    font-size: var(--text-h3);
  }

  h4 {
    font-size: var(--text-h4);
  }

  h5 {
    font-size: var(--text-h5);
  }

  h6 {
    font-size: var(--text-h6);
  }

  p {
    font-size: var(--text-p);
  }

  a {
    font-size: var(--text-a);
    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-size: var(--text-strong);
  }

  em {
    font-size: var(--text-em);
  }

  small {
    font-size: var(--text-small);
  }

  blockquote {
    font-size: var(--text-blockquote);
  }

  pre {
    font-size: var(--text-pre);
  }

  code {
    font-size: var(--text-code);
  }

  kbd {
    font-size: var(--text-kbd);
  }

  figcaption {
    font-size: var(--text-figcaption);
  }

  ul {
    font-size: var(--text-ul);
  }

  th {
    font-size: var(--text-th);
  }
}
