@theme {
  /* Heading Sizes */
  --text-h1-lg: 5.61rem;
  --text-h1-md: 3.815rem;
  --text-h1-sm: 2.986rem;

  --text-h2-lg: 4.209rem;
  --text-h2-md: 3.052rem;
  --text-h2-sm: 2.488rem;

  --text-h3-lg: 3.157rem;
  --text-h3-md: 2.441rem;
  --text-h3-sm: 2.074rem;

  --text-h4-lg: 2.369rem;
  --text-h4-md: 1.953rem;
  --text-h4-sm: 1.728rem;

  --text-h5-lg: 1.777rem;
  --text-h5-md: 1.563rem;
  --text-h5-sm: 1.44rem;

  --text-h6-lg: 1.333rem;
  --text-h6-md: 1.25rem;
  --text-h6-sm: 1.2rem;

  /* Body Text */
  --text-p: 1rem;

  /* Semantic & Utility */
  --text-small-lg: 0.833rem;
  --text-small-md: 0.8rem;
  --text-small-sm: 0.75rem;

  --text-a: inherit;
  --text-strong: inherit;
  --text-em: inherit;
  --text-blockquote: var(--text-h6);
  --text-pre: var(--text-small);
  --text-code: var(--text-small);
  --text-kbd: var(--text-small);
  --text-figcaption: var(--text-small);
}
